.table-container {
  margin: 0 auto; /* Define as margens automáticas horizontalmente para centralizar */
  width: 85%; /* Define a largura da tabela */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(133, 133, 133);
  padding: 8px;
  text-align: center; /* Centraliza o conteúdo das células */
}
