<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <div class="page">
      <form [formGroup]="form" class="formLogin" (ngSubmit)="login()">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          "
        >
          <img src="../../../assets/logo.svg" alt="" />
        </div>
        <h1 class="mb-3">Conecta Insumos</h1>
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        <label for="email">ID</label>
        <input
          type="number"
          placeholder="Digite seu ID de acesso"
          autofocus="true"
          formControlName="ID"
        />
        <label for="password">Senha</label>
        <input
          type="password"
          placeholder="Digite sua senha"
          formControlName="PASSWORD"
        />
        <input type="submit" value="Acessar" class="btn" />
      </form>
    </div>
  </body>
</html>
