/* Cor padrão para hover */
:root {
  --hover-color: #f18723; /* Altere para a cor desejada */
}

.navbar {
  background-color: #3C4B64 !important;
}

.navbar-brand, .nav-link {
  color: aliceblue !important;
}

.nav-link.active {
  background-color: #e08530;
  color: white !important;
  border-radius: 10px;

}

.navbar-nav .dropdown-menu {
  background-color: #ffffff;
}

.dropdown {
  z-index: 10000;
}

.nav-item:hover {
  background-color: #e08530;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #fafafa;
}

.dropdown-item {
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown-item:hover, .btn:hover {
  background-color: #e08530;
  color: #ffffff;
}

.dropdown-menu.show {
  display: block;
}

.color-white {
  color: white;
}

.ml-3 {
  margin-left: 100px;
}

h4 {
  font-weight: 500;
  color: white;
}

small{
  color: white;
}

.btn{
  background-color: #fd9d43;
  border: none;
  font-weight: 500;
  margin-left: 20px;
}

.btn-sm{
  width: 50px;
  height: 30px;
  border: 1px solid white;
  color: white;
}
.active {
  background-color: #ffffff;
  color: #FD7D07;
}
.nav-link{
  font-size: 17px;
}
