<!-- <app-layout></app-layout> -->
<div class="grid-container">
  <div>
    <button class="btn" (click)="register()">Cadastro de funcionários</button>
  </div>
  <div>
    <button class="btn" (click)="list()" >Lista de Funcionários</button>
  </div>
  <div>
    <button class="btn" (click)="registerRole()">Cadastro de cargos</button>
  </div>
  <div>
    <button class="btn" (click)="listRoles()">Lista de Cargos</button>
  </div>
  <div>
    <button class="btn" (click)="myProfile()">Meus dados</button>
  </div>
  <div>
    <button class="btn" (click)="vacations()">Férias</button>
  </div>
  <!-- <div>
    <button class="btn">Apontamento de Horas</button>
  </div> -->
</div>
