<div class="group">
  <h1>Dashboard</h1>

  <div class="grid-container-profile mb-4">
    <app-dashboard style="width: 100%; height: auto"></app-dashboard>
  </div>
  <!-- <div class="grid-container">
    <div *ngIf="isRh">

      <button class="btn" (click)="register()">Cadastro de funcionários</button>
    </div>
    <div>
      <button class="btn" (click)="list()">Lista de Funcionários</button>
    </div>
    <div *ngIf="isRh">

      <button class="btn" (click)="registerRole()">Cadastro de cargos</button>
    </div>
    <div *ngIf="isRh">

      <button class="btn" (click)="registerDepartments()">Cadastro de departamentos</button>
    </div>
    <div>
      <button class="btn" (click)="listDepartments()">Lista de departamentos</button>
    </div>
    <div>
      <button class="btn" (click)="listRoles()">Lista de Cargos</button>
    </div>
    <div>
      <button class="btn" (click)="myProfile()">Meus dados</button>
    </div>
    <div>
      <button class="btn" (click)="vacations()">Férias</button>
    </div>
    <div>
      <button class="btn" (click)="readDocs()">Documentos e Arquivos</button>
    </div>
    <div *ngIf="isRh">
      <button class="btn" (click)="sendDocs()">Envio de arquivos</button>
    </div>
  </div> -->
</div>
