.table-container {
  margin: 0 auto;
  width: 85%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(133, 133, 133);
  padding: 8px;
  text-align: center;
}

.actions button {
  padding: 10px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.alter{
  background-color: #4CAF50;
}

.alter:hover{
  background-color: #307932;

}

.actions .approve {
  background-color: #4CAF50;
}

.actions .approve:hover {
  background-color: #45a049;
}

.actions .reject {
  background-color: #f44336;
}

.actions .reject:hover {
  background-color: #e53935;
}

.actions button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
