<div class="table-container">
  <div>
    <h1>Solicitações de Férias</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Data de Admissão</th>
        <th>Saldo</th>
        <th>Data Inicio Férias</th>
        <th>Data Fim Férias</th>
        <th>Status Solicitação</th>
        <th>Ação</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vacation of vacations">
        <td>{{vacation.ID_FUNCIONARIO}}</td>
        <td>{{vacation.EMPLOYEE_NAME}}</td>
        <td>{{formatDate(vacation.DATA_ADMISSAO)}}</td>
        <td>{{vacation.SALDO_FERIAS}} dias</td>
        <td>{{formatDate(vacation.DATA_INICIO_FERIAS)}}</td>
        <td>{{formatDate(vacation.DATA_FIM_FERIAS)}}</td>
        <td>{{vacation.STATUS_SOLICITACAO}}</td>
        <td class="actions">
          <button class="alter" *ngIf="vacation.STATUS_SOLICITACAO !== 'PENDENTE'"  style="margin-right: 2px;" title="Alterar" (click)="alter(vacation)">Alterar</button>
          <button class="approve" *ngIf="vacation.STATUS_SOLICITACAO === 'PENDENTE'"  style="margin-right: 2px;" title="Aprovar" (click)="approve(vacation)">A</button>
          <button class="reject"  *ngIf="vacation.STATUS_SOLICITACAO === 'PENDENTE'" style="margin-left: 2px;"title="Reprovar" (click)="reject(vacation)">R</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
