<div class="form-container" *ngIf="isModalOpen">
  <h1>Editando Usuário</h1>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Endereço</label>
        <input type="text" formControlName="ENDERECO" placeholder="Endereço" class="form-control">
      </div>

      <div class="col-md-6 form-group">
        <label>Bairro</label>
        <input type="text" formControlName="BAIRRO" placeholder="Bairro" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label>Cidade</label>
        <input type="text" formControlName="CIDADE" placeholder="Cidade" class="form-control">
      </div>

      <div class="col-md-6 form-group">
        <label>Estado</label>
        <input type="text" formControlName="ESTADO" placeholder="Estado" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label>Telefone</label>
        <input type="text" formControlName="TELEFONE" placeholder="Telefone" class="form-control">
      </div>

      <div class="col-md-6 form-group">
        <label>Telefone Comercial</label>
        <input type="text" formControlName="TEL_COMERCIAL" placeholder="Telefone Comercial" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label>E-mail</label>
        <input type="email" formControlName="EMAIL" placeholder="E-mail" class="form-control">
      </div>

      <div class="col-md-6 form-group">
        <label>Departamento</label>
        <select formControlName="DEPARTAMENTO_ID" class="form-select form-control">
          <option *ngFor="let department of departments" [value]="department.ID">{{ department.DESCRICAO }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group">
        <label>Cargo</label>
        <select formControlName="CARGO_ID" class="form-select form-control">
          <option *ngFor="let role of roles" [value]="role.ID">{{ role.DESCRICAO }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success" (click)="updateUser()">Salvar</button>
        <button class="btn btn-danger" (click)="close()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
